<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield_content :title %></title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">
    <meta name="description" content="Danny Smith. Articles on technology from London, UK">
    <meta name="author" content="Danny Smith">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <%= yield_content :styles %>
    <link rel="stylesheet" href="/css/main/overrides.css">

    <!-- RSS -->

    <!-- TypeKit Scripts -->

  </head>
  <body>
  <main class="wrapper">
    <%= yield  %>
  </main>
  <%= erb :'partials/_navigation' %>
  <%= erb :'partials/_page-footer' %>
  <!-- Scripts -->
  <script src="/js/main.js"></script>
  <script src="https://use.fonticons.com/33185e6a.js"></script>

  </body>
</html>
